html, body { margin: 0; padding: 0; }

body {
  font-family: sans-serif;
  font-size: 18px;
  line-height: 1.4;
}

/* Header stuff */
h1 {
  text-align: center;
  margin-bottom: 0;
}
.hero {
  font-size: 20px;
  text-align: center;
  padding: 20px;
  margin: 0;
  border-bottom: 1px solid #ddd;
}
.logo {
  color: #111;
  font-size: 30px;
  font-family: courier;
}
.logo strong {
  margin-left: 5px;
}
.link-button,
.button {
  padding: 10px 15px 7px;
  background: #f1f9ff;
  border-radius: 13px;
}
.link-button { margin: 0 5px; }
.try-online.link-button {
  background: #c0efe4;
  color: #238961;
}
.content {
  margin: 10px auto;
  padding: 0 15px;
  width: 1000px;
}
input {
  font-family: sans-serif;
  font-size: 14px;
  border-radius: 3px;
  border: 1px solid #AAA;
  padding: 4px;
}
input[disabled] {
  background: #f7f7f7;
  border-color: #f7f7f7;
  color: #666;
}
li code,
p code {
  background: #f1f1f1;
  border-radius: 4px;
  border: 1px solid #eee;
  padding: 2px 4px;
  font-size: 80%;
}
a:visited, a, a:hover {
  color: #00c;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
.button {
  border: none;
  border-radius: 3px;
  color: blue;
  padding: 5px 10px;
  margin: 0;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
  cursor: pointer;
}
.button:hover { text-decoration: underline; }
.terminal {
  background: #000;
  color: #eee;
  font-size: 80%;
  padding: 7px 9px;
  border-radius: 4px;
  overflow-x: auto;
}
.terminal .green { color: #A1C935; }
.terminal .red { color: red; }
.terminal .gray { color: #777; }
code, .terminal, .logo {
  font-family: Consolas,Monaco,'Andale Mono','Ubuntu Mono',monospace;
}

/* k14s tools */
#k14s-tools {
  margin: 0 auto;
  padding: 0 15px;
  width: 1000px;
}
#k14s-tools p {
  color: #777;
  margin: 0;
  font-size: 80%;
  padding: 5px 0;
}
#k14s-tools p a { color: #111; }

/* Intro */
#intro { clear: both; }

#features { border-bottom: 1px solid #ddd; }
#features .highlight {
  background: #fff8be;
  font-style: normal;
}

#playground { border-bottom: 1px solid #ddd; }

/* Workflow */
#workflow table,
#workflow tr,
#workflow td {
  border-collapse:collapse;
  padding: 0;
  margin: 0;
  border-width: 0;
  vertical-align: text-top;
}
#workflow table {
  max-width: 100%;
  margin-bottom: 1em;
}
#workflow .doc {
  width: 20%;
  font-size: 80%;
  padding-right: 10px;
}
#workflow .output {
  max-width: 800px;
  background: #000;
  padding: 7px 9px;
  font-size: 16px;
}
#workflow tr:last-child .output {
  padding-bottom: 40px;
}
#workflow .output .terminal {
  margin: 0;
  overflow: auto;
  padding: 7px 9px;
}
#workflow .output .terminal::-webkit-scrollbar {
  background: #000;
}
#workflow .output .terminal::-webkit-scrollbar-thumb {
  background: #222;
  border-radius: 10px;
  border: 2px solid #555;
}

#footer { text-align: center; }

/* Dark mode */
body {
  font-family: "Menlo", "DejaVu Sans Mono", "Lucida Console", monospace;
  font-size: 14px;
  line-height: 1.5;
  background: #000;
  color: #aaa;
}
.hero { font-size: 16px; }
.logo { color: #fff; }
h2 {
  color: #eee;
  margin-top: 40px;
}
li code, p code {
  background: #111;
  border-color: #222;
  font-size: 90%;
}
a, a:hover {
  color: #eee;
  text-decoration: underline;
}
a:visited { color: #999; }
.link-button, .button { background: #222; }
.try-online.link-button {
  border: 2px solid #57edb2;
  color: #57edb2;
  background: none;
}
.terminal {
  border-width: 0;
  border-radius: 0;
  border-left: 3px solid #333;
  padding-left: 15px;
  font-size: 100%;
  color: #ccc;
}
.hero { border-width: 0; }
#features { border-width: 0; }
#features .highlight { background: #333; }
#playground { border-width: 0; }
#workflow .terminal {
  border-width: 0;
  font-size: 80%;
}
.terminal .green { color: #AFCE5E; }
.terminal .red { color: #ef4f4f; }
.terminal .gray { color: #555; }
.terminal .spacer-before {
  margin-top: 8px;
  display: inline-block;
}
#k14s-tools p a { color: #eee; }
