<!DOCTYPE html >
<html>
  <head>
    <title class="title">kapp - Kubernetes Application Management Tool</title>
    <link rel="stylesheet" href="js/app.css"></link>
    <!-- google analytics -->
  </head>
  <body>
    <div id="k14s-tools">
      <p>Part of <a href="https://k14s.io">k14s.io</a>: <a href="https://get-ytt.io">ytt</a> | <a href="https://get-kbld.io">kbld</a> | kapp | <a href="https://github.com/k14s/kwt">kwt</a></p>
    </div>

    <div class="content">
      <div id="header">
        <h1><span class="logo">$<strong>kapp</strong></span></h1>

        <p class="hero"><code>kapp</code> is a simple deployment tool focused on the concept of<br/>
        "Kubernetes application" &mdash; a set of resources with the same label.</p>

        <p class="hero">
          <a class="link-button" href="https://github.com/k14s/kapp">Github</a>
          <a class="link-button" href="https://github.com/k14s/kapp/tree/develop/docs/README.md">Docs</a>
          <a class="link-button" href="https://slack.kubernetes.io">#k14s in Kubernetes slack</a>
          <a class="link-button" href="https://github.com/k14s/kapp/releases">Download Binary</a>
          <a class="link-button try-online" href="#playground">Try Online <span>⤵</span></a>
        </p>
      </div>

      <div id="intro">
        <div id="features">
          <h2>Features</h2>
          <ul>
            <li>Works with standard Kubernetes YAMLs</li>
            <li>
              <em class="highlight">Focuses exclusively on deployment workflow</em>, not packaging or templating
              <ul><li>but plays well with tools (such as <a href="https://get-ytt.io">ytt</a>, <a href="https://github.com/kubernetes-sigs/kustomize">kustomize</a> and <a href="https://helm.sh/docs/helm/#helm-template">helm template</a> command, etc.) that produce Kubernetes configuration</li></ul>
            </li>
            <li>
              <em class="highlight">Converges application resources</em> (creates, updates and/or deletes resources) in each deploy
              <ul><li>based on comparison between provided files and live objects in the cluster</li></ul>
            </li>
            <li>Separates calculation of changes (<a href="https://github.com/k14s/kapp/blob/develop/docs/diff.md">diff stage</a>) from application of changes (<a href="https://github.com/k14s/kapp/blob/develop/docs/apply.md">apply stage</a>)</li>
            <li><a href="https://github.com/k14s/kapp/blob/develop/docs/apply-waiting.md">Waits for resources</a> to be "ready"</li>
            <li>Creates CRDs and Namespaces first and supports <a href="https://github.com/k14s/kapp/blob/develop/docs/apply-ordering.md">custom change ordering</a></li>
            <li>
              <em class="highlight">Works without admin privileges</em> and does not depend on any custom CRDs
              <ul><li>making it possible to use <code>kapp</code> as a regular user in a single namespace</li></ul>
            </li>
            <li>Records application <em class="highlight">deployment history</em></li>
            <li>
              Opt-in resource <em class="highlight">version management</em>
              <ul><li>for example, to trigger Deployment rollout when ConfigMap changes</li></ul>
            </li>
            <li>Works with any group of labeled resources (<code>kapp -a label:tier=web inspect -t</code>)</li>
            <li>Works <em class="highlight">without server side components</em></li>
            <li><a href="https://github.com/k14s/kapp/blob/develop/docs/gitops.md">GitOps friendly</a> (<code>kapp app-group deploy -g all-apps --directory .</code>)</li>
          </ul>
        </div>

        <div id="basic-usage">
          <h2>Basic Usage</h2>
          <pre class="terminal">
<span class="gray"># Configurations picked up from a directory</span>
$ <span class="green">kapp deploy -a cass1 -f examples/cassandra/</span>
<span class="gray spacer-before"># Can be used with helm charts, removing need for Tiller</span>
$ <span class="green">kapp -y deploy -a my-chart -f</span> &lt;(helm template my-chart --values my-vals.yml)
<span class="gray spacer-before"># ... and with kustomize</span>
$ <span class="green">kapp -y deploy -a some-app -f</span> &lt;(kustomize build ./some-app)
<span class="gray spacer-before"># ... or templated with ytt</span>
$ <span class="green">kapp -y deploy -a some-app -f</span> &lt;(ytt -f ./some-app)</pre>
        </div>

        <div id="playground">
          <h2>Playground</h2>

          <p>Try out <code>kapp</code> in Katacoda Kubernetes interactive playground or check out <a href="#workflow">example workflow</a> below:</p>

          <p><a class="link-button try-online" href="https://www.katacoda.com/courses/kubernetes/playground" target="_blank">Start Katacoda Playground</a></p>

          <p>After launching playground, follow these steps to install <code>kapp</code> and Kubernetes Guestbook example:</p>

          <pre class="terminal">
$ wget -O- https://get-kapp.io/install-katacoda.sh | bash
$ cd kapp/
$ kapp version
$ kapp deploy -a app1 -f examples/simple-app-example/config-1.yml
$ kapp inspect -a app1
$ kapp deploy -a app1 -f examples/simple-app-example/config-2.yml
$ kapp delete -a app1</pre>
        </div>

        <div id="workflow">
          <h2>Example Workflow</h2>
          <table>
            <tbody>
              <tr>
                <td class="doc">In this example, we are installing sample app from kapp repository.</td>
                <td class="output">
                  <pre class="terminal">
$ kapp deploy -a app1 -f examples/simple-app-example/config-1.yml</pre>
                </td>
              </tr>
              <tr>
                <td class="doc">Changes summary shows that all resources are new.</td>
                <td class="output">
                  <pre class="terminal">
Target cluster 'https://x.x.x.x' (nodes: gke-dk-jan-9-pool-1-d01bcd06-bgie, 4+)

Changes

Namespace  Name        Kind        Conds.  Age  Op      Op st.  Wait to    Rs  Ri
default    simple-app  Deployment  -       -    <span class="green">create</span>  -       reconcile  -   -
^          simple-app  Service     -       -    <span class="green">create</span>  -       reconcile  -   -

Op:      2 create, 0 delete, 0 update, 0 noop
Wait to: 2 reconcile, 0 delete, 0 noop
</pre>
                </td>
              </tr>
              <tr>
                <td class="doc">Let's confirm to continue, and follow deployment progress.</td>
                <td class="output">
                  <pre class="terminal">
Continue? [yN]: y

2:12:59PM: ---- applying 2 changes [0/2 done] ----
2:13:00PM: create service/simple-app (v1) namespace: default
2:13:01PM: create deployment/simple-app (apps/v1) namespace: default
2:13:01PM: ---- waiting on 2 changes [0/2 done] ----
2:13:01PM: ok: reconcile service/simple-app (v1) namespace: default
2:13:01PM: ongoing: reconcile deployment/simple-app (apps/v1) namespace: default
2:13:01PM:  ^ Waiting for 1 unavailable replicas
2:13:01PM:  L ok: waiting on replicaset/simple-app-7f9c78ccd8 (apps/v1) namespace: default
2:13:01PM:  L ongoing: waiting on pod/simple-app-7f9c78ccd8-h7wlc (v1) namespace: default
2:13:01PM:     ^ Pending: ContainerCreating
2:13:01PM: ---- waiting on 1 changes [1/2 done] ----
2:13:03PM: ok: reconcile deployment/simple-app (apps/v1) namespace: default
2:13:03PM: ---- applying complete [2/2 done] ----
2:13:03PM: ---- waiting complete [2/2 done] ----

Succeeded</pre>
                </td>
              </tr>
            </tbody>
            <tbody>
              <tr>
                <td class="doc">
                  <code>ls</code> command shows list of all apps stored in current namespace.
                  Apps themselves can span multiple namespaces and cluster scope.
                </td>
                <td class="output">
                  <pre class="terminal">
$ kapp ls

Target cluster 'https://x.x.x.x' (nodes: gke-dk-jan-9-pool-1-d01bcd06-bgie, 4+)

Apps in namespace 'default'

Name  Namespaces  Lcs   Lca
app   default     true  25s

Lcs: Last Change Successful
Lca: Last Change Age

1 apps

Succeeded</pre>
                </td>
              </tr>
            </tbody>
            <tbody>
              <tr>
                <td class="doc">
                  Now let's update from one app configuration to another using <code>deploy</code> command.
                  <br/><br/>
                  Since <code>--diff-changes</code> is used, 
                  <code>kapp</code> will show detailed diff against
                  versions of resources in the cluster.
                </td>
                <td class="output">
                  <pre class="terminal">
$ kapp deploy -a app1 -f examples/simple-app-example/config-2.yml --diff-changes</pre>
                </td>
              </tr>
              <tr>
                <td class="doc">
                  This resource will be created.
                </td>
                <td class="output">
                  <pre class="terminal">
Target cluster 'https://x.x.x.x' (nodes: gke-dk-jan-9-pool-1-d01bcd06-bgie, 4+)

@@ create service/simple-app-node (v1) namespace: default @@<span class="green">
      0 + apiVersion: v1
      1 + kind: Service
      2 + metadata:
      3 +   labels:
      4 +     kapp.k14s.io/app: "1594663909283037000"
      5 +     kapp.k14s.io/association: v1.6e43c1cd2c7173a969d84f77ad6a72c2
      6 +   name: simple-app-node
      7 +   namespace: default
      8 + spec:
      9 +   ports:
     10 +   - nodePort: 31111
     11 +     port: 80
     12 +     targetPort: 80
     13 +   selector:
     14 +     kapp.k14s.io/app: "1594663909283037000"
     15 +     simple-app: ""
     16 +   type: NodePort
     17 +</span>

@@ create configmap/simple-app (v1) namespace: default @@<span class="green">
      0 + apiVersion: v1
      1 + data:
      2 +   hello_msg: friend
      3 + kind: ConfigMap
      4 + metadata:
      5 +   labels:
      6 +     kapp.k14s.io/app: "1594663909283037000"
      7 +     kapp.k14s.io/association: v1.afcdfc989e2a0b3f3e526dc1c4176060
      8 +   name: simple-app
      9 +   namespace: default
     10 +</span></pre>
                </td>
              </tr>
              <tr>
                <td class="doc">This resource will be updated.</td>
                <td class="output">
                  <pre class="terminal">
@@ update deployment/simple-app (apps/v1) namespace: default @@
  ...<span class="red">
 29, 29           - name: HELLO_MSG
 30     -           value: stranger</span><span class="green">
     30 +           valueFrom:
     31 +             configMapKeyRef:
     32 +               key: hello_msg
     33 +               name: simple-app</span>
 31, 34           image: docker.io/dkalinin/k8s-simple-app@sha256:4c8b96d4fffdfae29258d94a22ae4ad1fe36139d47288b8960d9958d1e63a9d0
 32, 35           name: simple-app</pre>
                </td>
              </tr>
              <tr>
                <td class="doc">This resource is will be deleted.</td>
                <td class="output">
                  <pre class="terminal">
@@ delete service/simple-app (v1) namespace: default @@<span class="red">
  0     - apiVersion: v1
  1     - kind: Service
  2     - metadata:
  3     -   creationTimestamp: "2020-07-13T18:12:59Z"
  4     -   labels:
  5     -     kapp.k14s.io/app: "1594663909283037000"
  6     -     kapp.k14s.io/association: v1.462a95c01b2a0bdc4d5acadc4a22dd74
  7     -   name: simple-app
  8     -   namespace: default
  9     -   resourceVersion: "69009086"
 10     -   selfLink: /api/v1/namespaces/default/services/simple-app
 11     -   uid: 4e8bb148-2de4-46b3-a2e1-53dacbaaff34
 12     - spec:
 13     -   clusterIP: 10.76.6.94
 14     -   ports:
 15     -   - port: 80
 16     -     targetPort: 80
 17     -   selector:
 18     -     kapp.k14s.io/app: "1594663909283037000"
 19     -     simple-app: ""
 20     - status:
 21     -   loadBalancer: {}
 22     -</span></pre>
                </td>
              </tr>
              <tr>
                <td class="doc">
                  Changes summary is presented before deploy will continue.
                  There are only few changes in this example.
                </td>
                <td class="output">
                  <pre class="terminal">
Changes

Namespace  Name             Kind        Conds.  Age  Op      Op st.  Wait to    Rs  Ri
default    simple-app       ConfigMap   -       -    <span class="green">create</span>  -       reconcile  -   -
^          simple-app       Deployment  <span class="green">2/2 t</span>   2m   <span class="green">update</span>  -       reconcile  <span class="green">ok</span>  -
^          simple-app       Service     -       2m   <span class="red">delete</span>  -       delete     <span class="green">ok</span>  -
^          simple-app-node  Service     -       -    <span class="green">create</span>  -       reconcile  -   -

Op:      2 create, 1 delete, 1 update, 0 noop
Wait to: 3 reconcile, 1 delete, 0 noop</pre>
                </td>
              </tr>
              <tr>
                <td class="doc">
                  Detailed progress log shows <code>kapp</code> waiting for
                  associated resources to be ready. Readiness checks are specific to resource types.
                </td>
                <td class="output">
                  <pre class="terminal">
Continue? [yN]:

2:21:15PM: ---- applying 2 changes [0/4 done] ----
2:21:15PM: delete service/simple-app (v1) namespace: default
2:21:15PM: create configmap/simple-app (v1) namespace: default
2:21:15PM: ---- waiting on 2 changes [0/4 done] ----
2:21:15PM: ok: delete service/simple-app (v1) namespace: default
2:21:15PM: ok: reconcile configmap/simple-app (v1) namespace: default
2:21:15PM: ---- applying 2 changes [2/4 done] ----
2:21:15PM: create service/simple-app-node (v1) namespace: default
2:21:17PM: update deployment/simple-app (apps/v1) namespace: default
2:21:17PM: ---- waiting on 2 changes [2/4 done] ----
2:21:17PM: ok: reconcile service/simple-app-node (v1) namespace: default
2:21:17PM: ongoing: reconcile deployment/simple-app (apps/v1) namespace: default
2:21:17PM:  ^ Waiting for 1 unavailable replicas
2:21:17PM:  L ok: waiting on replicaset/simple-app-8558f78495 (apps/v1) namespace: default
2:21:17PM:  L ok: waiting on replicaset/simple-app-7f9c78ccd8 (apps/v1) namespace: default
2:21:17PM:  L ok: waiting on pod/simple-app-8558f78495-zqwxt (v1) namespace: default
2:21:17PM:  L ongoing: waiting on pod/simple-app-7f9c78ccd8-h7wlc (v1) namespace: default
2:21:17PM:     ^ Deleting
2:21:17PM: ---- waiting on 1 changes [3/4 done] ----
2:21:18PM: ok: reconcile deployment/simple-app (apps/v1) namespace: default
2:21:18PM: ---- applying complete [4/4 done] ----
2:21:18PM: ---- waiting complete [4/4 done] ----

Succeeded
</pre>
                </td>
              </tr>
            </tbody>
            <tbody>
              <tr>
                <td class="doc">
                  <code>inspect</code> command shows list of live objects associated with given app.
                  <code>--tree</code> view optionally shows simple parent-child resource relationships.
                </td>
                <td class="output">
                  <pre class="terminal">
$ kapp inspect -a app1 --tree

Target cluster 'https://x.x.x.x' (nodes: gke-dk-jan-9-pool-1-d01bcd06-bgie, 4+)

Resources in app 'app'

Namespace  Name                              Kind        Owner    Conds.  Rs  Ri  Age
default    simple-app                        Deployment  kapp     <span class="green">2/2 t</span>   <span class="green">ok</span>  -   8m
default     L simple-app-7f9c78ccd8          ReplicaSet  cluster  -       <span class="green">ok</span>  -   8m
default     L simple-app-8558f78495          ReplicaSet  cluster  -       <span class="green">ok</span>  -   28s
default     L.. simple-app-8558f78495-zqwxt  Pod         cluster  <span class="green">4/4 t</span>   <span class="green">ok</span>  -   28s
default    simple-app-node                   Service     kapp     -       <span class="green">ok</span>  -   28s
default     L simple-app-node                Endpoints   cluster  -       <span class="green">ok</span>  -   28s
default    simple-app                        ConfigMap   kapp     -       <span class="green">ok</span>  -   28s

Rs: Reconcile state
Ri: Reconcile information

7 resources

Succeeded</pre>
                </td>
              </tr>
            </tbody>
            <tbody>
              <tr>
                <td class="doc">
                  <code>logs</code> command starts streaming logs from all Pods associated with given app.
                </td>
                <td class="output">
                  <pre class="terminal">
$ kapp logs -f -a app1

Target cluster 'https://x.x.x.x' (nodes: gke-dk-jan-9-pool-1-d01bcd06-bgie, 4+)

# starting tailing 'simple-app-8558f78495-zqwxt > simple-app' logs
simple-app-8558f78495-zqwxt > simple-app | 2020/07/13 18:21:16 Server started
^C</pre>
                </td>
              </tr>
            </tbody>
            <tbody>
              <tr>
                <td class="doc">
                  <code>delete</code> command finds all resources in the cluster associated with given app,
                  issues delete operation and waits for them be be deleted.
                </td>
                <td class="output">
                  <pre class="terminal">
$ kapp delete -a app1

Target cluster 'https://x.x.x.x' (nodes: gke-dk-jan-9-pool-1-d01bcd06-bgie, 4+)

Changes

Namespace  Name                         Kind        Conds.  Age  Op      Op st.  Wait to  Rs  Ri
default    simple-app                   ConfigMap   -       1m   <span class="green">delete</span>  -       delete   ok  -
^          simple-app                   Deployment  <span class="green">2/2 t</span>   10m  <span class="green">delete</span>  -       delete   ok  -
^          simple-app-7f9c78ccd8        ReplicaSet  -       10m  -       -       delete   ok  -
^          simple-app-8558f78495        ReplicaSet  -       1m   -       -       delete   ok  -
^          simple-app-8558f78495-zqwxt  Pod         <span class="green">4/4 t</span>   1m   -       -       delete   ok  -
^          simple-app-8558f78495-zqwxt  PodMetrics  -       0s   -       -       delete   ok  -
^          simple-app-node              Endpoints   -       1m   -       -       delete   ok  -
^          simple-app-node              Service     -       1m   <span class="green">delete</span>  -       delete   ok  -

Op:      0 create, 3 delete, 0 update, 5 noop
Wait to: 0 reconcile, 8 delete, 0 noop

Continue? [yN]: y

2:23:24PM: ---- applying 8 changes [0/8 done] ----
2:23:24PM: noop endpoints/simple-app-node (v1) namespace: default
2:23:24PM: noop replicaset/simple-app-7f9c78ccd8 (apps/v1) namespace: default
2:23:24PM: noop pod/simple-app-8558f78495-zqwxt (v1) namespace: default
2:23:24PM: noop podmetrics/simple-app-8558f78495-zqwxt (metrics.k8s.io/v1beta1) namespace: default
2:23:24PM: noop replicaset/simple-app-8558f78495 (apps/v1) namespace: default
2:23:24PM: delete deployment/simple-app (apps/v1) namespace: default
2:23:24PM: delete service/simple-app-node (v1) namespace: default
2:23:24PM: delete configmap/simple-app (v1) namespace: default
2:23:24PM: ---- waiting on 8 changes [0/8 done] ----
2:23:24PM: ongoing: delete replicaset/simple-app-7f9c78ccd8 (apps/v1) namespace: default
2:23:24PM: ok: delete endpoints/simple-app-node (v1) namespace: default
2:23:24PM: ok: delete configmap/simple-app (v1) namespace: default
2:23:24PM: ongoing: delete replicaset/simple-app-8558f78495 (apps/v1) namespace: default
2:23:24PM: ongoing: delete pod/simple-app-8558f78495-zqwxt (v1) namespace: default
2:23:24PM: ok: delete service/simple-app-node (v1) namespace: default
2:23:24PM: ok: delete deployment/simple-app (apps/v1) namespace: default
2:23:24PM: ongoing: delete podmetrics/simple-app-8558f78495-zqwxt (metrics.k8s.io/v1beta1) namespace: default
2:23:24PM: ---- waiting on 4 changes [4/8 done] ----
2:23:26PM: ok: delete replicaset/simple-app-8558f78495 (apps/v1) namespace: default
2:23:26PM: ok: delete replicaset/simple-app-7f9c78ccd8 (apps/v1) namespace: default
2:23:26PM: ---- waiting on 2 changes [6/8 done] ----
2:23:27PM: ok: delete podmetrics/simple-app-8558f78495-zqwxt (metrics.k8s.io/v1beta1) namespace: default
2:23:27PM: ok: delete pod/simple-app-8558f78495-zqwxt (v1) namespace: default
2:23:27PM: ---- applying complete [8/8 done] ----
2:23:27PM: ---- waiting complete [8/8 done] ----

Succeeded</pre>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div id="footer">(c) 2019</div>
    </div>
  </body>
</html>
