<!DOCTYPE html >
<html>
  <head>
    <title class="title">kapp - Kubernetes Application Management Tool</title>
    <link rel="stylesheet" href="js/app.css"></link>
    <!-- google analytics -->
  </head>
  <body>
    <div class="content">
      <div class="header">
        <h1><span class="logo">$ kapp</span></h1>

        <p class="hero"><code>kapp</code> is a simple deployment tool focused on the concept of<br/>
        "Kubernetes application" &mdash; a set of resources with the same label.</p>

        <p class="hero">
          <a class="link-button" href="https://github.com/k14s/kapp">Github</a>
          <a class="link-button" href="https://github.com/k14s/kapp/tree/master/docs/README.md">Docs</a>
          <a class="link-button" href="https://github.com/k14s/kapp/releases">Download Binary</a>
          <a class="link-button try-online" href="#playground">Try Online <span>⤵</span></a>
        </p>
      </div>

      <div id="intro">
        <div id="basic-usage">
          <h2>Basic Usage</h2>
          <pre class="terminal">$ kapp deploy -a cass1 -R -f examples/cassandra/</pre>
        </div>

        <div id="features">
          <h2>Features</h2>
          <ul>
            <li>Works with standard Kubernetes YAMLs</li>
            <li>
              <em class="highlight">Focuses exclusively on deployment workflow</em>, not packaging or templating
              <ul><li>but plays well with tools (such as <a href="https://get-ytt.io">ytt</a>) that produce Kubernetes configuration</li></ul>
            </li>
            <li>
              <em class="highlight">Converges application resources</em> (creates, updates and/or deletes resources) in each deploy
              <ul><li>based on comparison between provided files and live objects in the cluster</li></ul>
            </li>
            <li>Separates calculation of changes (<a href="https://github.com/k14s/kapp/blob/master/docs/diff.md">diff stage</a>) from application of changes (<a href="https://github.com/k14s/kapp/blob/master/docs/apply.md">apply stage</a>)</li>
            <li>
              <em class="highlight">Works without admin privileges</em> and does not depend on any custom CRDs
              <ul><li>making it possible to use <code>kapp</code> as a regular user in a single namespace</li></ul>
            </li>
            <li>Records application <em class="highlight">deployment history</em></li>
            <li>
              Opt-in resource <em class="highlight">version management</em>
              <ul><li>for example, to trigger Deployment rollout when ConfigMap changes</li></ul>
            </li>
            <li>Works with any group of labeled resources (<code>kapp -a label:tier=web inspect -t</code>)</li>
            <li>Works <em class="highlight">without server side components</em></li>
            <li><a href="https://github.com/k14s/kapp/blob/master/docs/gitops.md">GitOps friendly</a> (<code>kapp app-group deploy -g all-apps --directory .</code>)</li>
          </ul>
        </div>

        <div id="playground">
          <h2>Playground</h2>

          <p>Try out <code>kapp</code> in Katacoda Kubernetes interactive playground or check out <a href="#workflow">example workflow</a> below:</p>

          <p><a class="link-button try-online" href="https://www.katacoda.com/courses/kubernetes/playground" target="_blank">Start Katacoda Playground</a></p>

          <p>After launching playground, follow these steps to install <code>kapp</code> and Kubernetes Guestbook example:</p>

          <pre class="terminal">
$ wget -O- https://get-kapp.io/install-katacoda.sh | bash
$ cd kapp/
$ kapp version
$ kapp deploy -a gb -f examples/gitops/guestbook/all-in-one.yml
$ kapp inspect -a gb -t</pre>
        </div>

        <div id="workflow">
          <h2>Example Workflow</h2>
          <table>
            <tbody>
              <tr>
                <td class="doc">In this example, we are installing app called Knative (v0.2.1).</td>
                <td class="output">
                  <pre class="terminal">
$ kapp deploy -a knative -f examples/knative-v0.2.1/release-no-mon.yml</pre>
                </td>
              </tr>
              <tr>
                <td class="doc">Changes summary shows that all resources are new.</td>
                <td class="output">
                  <pre class="terminal">
Changes

Namespace        Name                              Kind                      Conditions  Age  Changed  Ignored Reason
-                build-controller-admin            ClusterRoleBinding        -           -    <span class="green">add</span>      -
~                builds.build.knative.dev          CustomResourceDefinition  -           -    <span class="green">add</span>      -
...
~                knative-build                     Namespace                 -           -    <span class="green">add</span>      -
~                knative-build-admin               ClusterRole               -           -    <span class="green">add</span>      -
~                knative-serving                   Namespace                 -           -    <span class="green">add</span>      -
~                knative-serving-admin             ClusterRole               -           -    <span class="green">add</span>      -
~                knative-serving-autoscaler-write  ClusterRoleBinding        -           -    <span class="green">add</span>      -
~                knative-serving-controller-admin  ClusterRoleBinding        -           -    <span class="green">add</span>      -
~                knative-serving-write             ClusterRole               -           -    <span class="green">add</span>      -
...
~                services.serving.knative.dev      CustomResourceDefinition  -           -    <span class="green">add</span>      -
istio-system     knative-ingressgateway            Deployment                -           -    <span class="green">add</span>      -
~                knative-ingressgateway            HorizontalPodAutoscaler   -           -    <span class="green">add</span>      -
~                knative-ingressgateway            Service                   -           -    <span class="green">add</span>      -
knative-build    build-controller                  Deployment                -           -    <span class="green">add</span>      -
~                build-controller                  Service                   -           -    <span class="green">add</span>      -
~                build-controller                  ServiceAccount            -           -    <span class="green">add</span>      -
~                build-webhook                     Deployment                -           -    <span class="green">add</span>      -
~                build-webhook                     Service                   -           -    <span class="green">add</span>      -
~                config-logging                    ConfigMap                 -           -    <span class="green">add</span>      -
~                creds-init                        Image                     -           -    <span class="green">add</span>      -
~                gcs-fetcher                       Image                     -           -    <span class="green">add</span>      -
~                git-init                          Image                     -           -    <span class="green">add</span>      -
~                nop                               Image                     -           -    <span class="green">add</span>      -
knative-serving  activator                         Deployment                -           -    <span class="green">add</span>      -
~                activator-service                 Service                   -           -    <span class="green">add</span>      -
~                autoscaler                        Deployment                -           -    <span class="green">add</span>      -
~                autoscaler                        Service                   -           -    <span class="green">add</span>      -
~                autoscaler                        ServiceAccount            -           -    <span class="green">add</span>      -
~                config-autoscaler                 ConfigMap                 -           -    <span class="green">add</span>      -
~                config-controller                 ConfigMap                 -           -    <span class="green">add</span>      -
~                config-domain                     ConfigMap                 -           -    <span class="green">add</span>      -
~                config-gc                         ConfigMap                 -           -    <span class="green">add</span>      -
~                config-logging                    ConfigMap                 -           -    <span class="green">add</span>      -
~                config-network                    ConfigMap                 -           -    <span class="green">add</span>      -
~                config-observability              ConfigMap                 -           -    <span class="green">add</span>      -
~                controller                        Deployment                -           -    <span class="green">add</span>      -
~                controller                        Service                   -           -    <span class="green">add</span>      -
~                controller                        ServiceAccount            -           -    <span class="green">add</span>      -
~                fluentd-sidecar                   Image                     -           -    <span class="green">add</span>      -
~                knative-shared-gateway            Gateway                   -           -    <span class="green">add</span>      -
~                queue-proxy                       Image                     -           -    <span class="green">add</span>      -
~                webhook                           Deployment                -           -    <span class="green">add</span>      -
~                webhook                           Service                   -           -    <span class="green">add</span>      -

51 add, 0 delete, 0 update, 0 keep

51 changes</pre>
                </td>
              </tr>
              <tr>
                <td class="doc">Let's confirm to continue, and follow deployment progress.</td>
                <td class="output">
                  <pre class="terminal">
Continue? [yN]: y

10:23:53AM: --- applying changes
10:23:53AM: add customresourcedefinition/builds.build.knative.dev (apiextensions.k8s.io/v1beta1) cluster
10:23:53AM: add customresourcedefinition/buildtemplates.build.knative.dev (apiextensions.k8s.io/v1beta1) cluster
...
10:23:54AM: waiting on add customresourcedefinition/builds.build.knative.dev (apiextensions.k8s.io/v1beta1) cluster
10:23:55AM: waiting on add customresourcedefinition/buildtemplates.build.knative.dev (apiextensions.k8s.io/v1beta1) cluster
...
10:23:59AM: add namespace/knative-build (v1) cluster
10:23:59AM: add namespace/knative-serving (v1) cluster
10:23:59AM: waiting on add namespace/knative-build (v1) cluster
10:24:00AM: waiting on add namespace/knative-serving (v1) cluster
10:24:00AM: add clusterrole/knative-build-admin (rbac.authorization.k8s.io/v1) cluster
...
10:24:00AM: add configmap/config-observability (v1) namespace: knative-serving
10:24:00AM: add deployment/controller (apps/v1) namespace: knative-serving
...
10:24:16AM: waiting on add deployment/webhook (apps/v1) namespace: knative-serving
10:24:17AM:  L waiting on replicaset/webhook-5d4768c744 (extensions/v1beta1) namespace: knative-serving ... done
10:24:17AM:  L waiting on pod/webhook-5d4768c744-9zc4f (v1) namespace: knative-serving ... done
...
10:24:41AM: ---  waiting on 1 changes
10:24:41AM: waiting on add service/knative-ingressgateway (v1) namespace: istio-system
10:24:41AM:  L waiting on endpoints/knative-ingressgateway (v1) namespace: istio-system ... done
10:24:41AM: --- changes applied

Succeeded</pre>
                </td>
              </tr>
            </tbody>
            <tbody>
              <tr>
                <td class="doc">
                  <code>ls</code> command shows list of all apps stored in current namespace.
                  Apps themselves can span multiple namespaces and cluster.
                </td>
                <td class="output">
                  <pre class="terminal">
$ kapp ls

Apps in namespace 'default'

Name     Label                                       Namespaces                                            Last Change Successful  Last Change Age
istio    kapp.k14s.io/app=1551818002314622000  (cluster),istio-system                                true                    1d
knative  kapp.k14s.io/app=1551819837136481000  (cluster),istio-system,knative-build,knative-serving  true                    1d

2 apps

Succeeded</pre>
                </td>
              </tr>
            </tbody>
            <tbody>
              <tr>
                <td class="doc">
                  Now let's update Knative to v0.4.0 from v0.2.1 using <code>deploy</code> command.
                  <br/><br/>
                  Since <code>--diff-changes</code> is used, 
                  <code>kapp</code> will show detailed diff against
                  versions of resources in the cluster.
                </td>
                <td class="output">
                  <pre class="terminal">
$ kapp deploy -a knative -f examples/knative-v0.4.0/release-no-mon.yml --diff-changes</pre>
                </td>
              </tr>
              <tr>
                <td class="doc">
                  This resource will be created.
                </td>
                <td class="output">
                  <pre class="terminal">
...
--- add gateway/cluster-local-gateway (networking.istio.io/v1alpha3) namespace: knative-serving<span class="green">
      0 + apiVersion: networking.istio.io/v1alpha3
      1 + kind: Gateway
      2 + metadata:
      3 +   labels:
      4 +     kapp.k14s.io/app: "1551986249395299000"
      5 +     kapp.k14s.io/association: v1.e7bcfd8c4517005ad00db9a1e77b9025
      6 +     serving.knative.dev/release: devel
      7 +   name: cluster-local-gateway
      8 +   namespace: knative-serving
      9 + spec:
     10 +   selector:
     11 +     istio: cluster-local-gateway
     12 +   servers:
     13 +   - hosts:
     14 +     - '*'
     15 +     port:
     16 +       name: http
     17 +       number: 80
     18 +       protocol: HTTP
     19 +</span></pre>
                </td>
              </tr>
              <tr>
                <td class="doc">This resource will be updated.</td>
                <td class="output">
                  <pre class="terminal">
--- update service/activator-service (v1) namespace: knative-serving
  ...
  8,  8       kapp.k14s.io/association: v1.95eeff0c313a389c06b371a05fc2ea61<span class="green">
      9 +     serving.knative.dev/release: devel</span>
  9, 10     name: activator-service
 10, 11     namespace: knative-serving
  ...
 17, 18     - name: http<span class="green">
     19 +     nodePort: null</span>
 18, 20       port: 80
 19, 21       protocol: TCP
 20, 22       targetPort: 8080<span class="green">
 21, 23 +   - name: http2
     24 +     port: 81
     25 +     protocol: TCP
     26 +     targetPort: 8081</span>
     27     - name: metrics<span class="green">
 22, 28 +     nodePort: null</span>
 22, 29       port: 9090
 23, 30       protocol: TCP
  ...
 26, 33       app: activator<span class="red">
 27, 34 -   type: NodePort</span><span class="green">
 28, 34 +   type: ClusterIP</span>
 28, 35   status:
 29, 36     loadBalancer: {}</pre>
                </td>
              </tr>
              <tr>
                <td class="doc">This resource is will be deleted.</td>
                <td class="output">
                  <pre class="terminal">
--- delete image/creds-init (caching.internal.knative.dev/v1alpha1) namespace: knative-build<span class="red">
  0     - apiVersion: caching.internal.knative.dev/v1alpha1
  1     - kind: Image
  2     - metadata:
  3     -   annotations: {}
  4     -   clusterName: ""
  5     -   creationTimestamp: "2019-03-07T19:17:41Z"
  6     -   generation: 1
  7     -   labels:
  8     -     kapp.k14s.io/app: "1551986249395299000"
  9     -     kapp.k14s.io/association: v1.2bb2c5b4ed8235697a866d7a9d287361
 10     -   name: creds-init
 11     -   namespace: knative-build
 12     -   resourceVersion: "26738314"
 13     -   selfLink: /apis/caching.internal.knative.dev/v1alpha1/namespaces/knative-build/images/creds-init
 14     -   uid: adc75788-410d-11e9-9fb1-42010a8001ed
 15     - spec:
 16     -   image: gcr.io/knative-releases/github.com/knative/build/cmd/creds-init@sha256:c1c11fafd337f62eea18a1f02b78e6ae6949779bed72d53d19b2870723a8f104
 17     -</span>
...</pre>
                </td>
              </tr>
              <tr>
                <td class="doc">
                  Changes summary is presented before deploy will continue.
                  In this example, there were quite a few changes between Knative v0.2.1 and v0.4.0.
                </td>
                <td class="output">
                  <pre class="terminal">
Changes

Namespace        Name                              Kind                      Conditions  Age  Changed  Ignored Reason
-                build-controller-admin            ClusterRoleBinding        -           6m   <span class="red">del</span>      -
~                builds.build.knative.dev          CustomResourceDefinition  <span class="green">2 OK / 2</span>    6m   <span class="red">del</span>      -
...
~                knative-build                     Namespace                 -           6m   <span class="red">del</span>      -
~                knative-build-admin               ClusterRole               -           6m   <span class="red">del</span>      -
~                knative-serving                   Namespace                 -           6m   <span class="green">mod</span>      -
~                knative-serving-admin             ClusterRole               -           6m   <span class="green">mod</span>      -
~                knative-serving-autoscaler-write  ClusterRoleBinding        -           6m   <span class="red">del</span>      -
~                knative-serving-controller-admin  ClusterRoleBinding        -           6m   <span class="green">mod</span>      -
~                knative-serving-core              ClusterRole               -           -    <span class="green">add</span>      -
~                knative-serving-write             ClusterRole               -           6m   <span class="red">del</span>      -
...
istio-system     knative-ingressgateway            Deployment                <span class="green">2 OK / 2</span>    6m   <span class="red">del</span>      -
~                knative-ingressgateway            HorizontalPodAutoscaler   <span class="green">3 OK / 3</span>    6m   <span class="red">del</span>      -
~                knative-ingressgateway            Service                   -           6m   <span class="red">del</span>      -
knative-build    build-controller                  Deployment                <span class="green">2 OK / 2</span>    6m   <span class="red">del</span>      -
~                build-controller                  Service                   -           6m   <span class="red">del</span>      -
~                build-controller                  ServiceAccount            -           6m   <span class="red">del</span>      -
~                build-webhook                     Deployment                <span class="green">2 OK / 2</span>    6m   <span class="red">del</span>      -
~                build-webhook                     Service                   -           6m   <span class="red">del</span>      -
~                config-logging                    ConfigMap                 -           6m   <span class="red">del</span>      -
~                creds-init                        Image                     -           6m   <span class="red">del</span>      -
~                gcs-fetcher                       Image                     -           6m   <span class="red">del</span>      -
~                git-init                          Image                     -           6m   <span class="red">del</span>      -
~                nop                               Image                     -           6m   <span class="red">del</span>      -
knative-serving  activator                         Deployment                <span class="green">2 OK / 2</span>    6m   <span class="green">mod</span>      -
~                activator-service                 Service                   -           6m   <span class="green">mod</span>      -
~                autoscaler                        Deployment                <span class="green">2 OK / 2</span>    6m   <span class="green">mod</span>      -
~                autoscaler                        Service                   -           6m   <span class="green">mod</span>      -
~                autoscaler                        ServiceAccount            -           6m   <span class="red">del</span>      -
~                cluster-local-gateway             Gateway                   -           -    <span class="green">add</span>      -
...
~                config-observability              ConfigMap                 -           6m   <span class="green">mod</span>      -
~                controller                        Deployment                <span class="green">2 OK / 2</span>    6m   <span class="green">mod</span>      -
~                controller                        Service                   -           6m   <span class="green">mod</span>      -
~                controller                        ServiceAccount            -           6m   <span class="green">mod</span>      -
~                fluentd-sidecar                   Image                     -           6m   <span class="red">del</span>      -
~                knative-ingress-gateway           Gateway                   -           -    <span class="green">add</span>      -
~                knative-shared-gateway            Gateway                   -           6m   <span class="red">del</span>      -
~                queue-proxy                       Image                     -           6m   <span class="green">mod</span>      -
~                webhook                           Deployment                <span class="green">2 OK / 2</span>    6m   <span class="green">mod</span>      -
~                webhook                           Service                   -           6m   <span class="green">mod</span>      -

4 add, 24 delete (27 hidden), 27 update, 0 keep

55 changes</pre>
                </td>
              </tr>
              <tr>
                <td class="doc">
                  Detailed progress log shows <code>kapp</code> waiting for
                  associated resources to be ready. Readiness checks are specific to resource types.
                </td>
                <td class="output">
                  <pre class="terminal">
Continue? [yN]:

11:48:37AM: --- applying changes
11:48:37AM: update customresourcedefinition/clusteringresses.networking.internal.knative.dev (apiextensions.k8s.io/v1beta1) cluster
...
11:48:41AM: waiting on update customresourcedefinition/services.serving.knative.dev (apiextensions.k8s.io/v1beta1) cluster
11:48:41AM: update namespace/knative-serving (v1) cluster
11:48:41AM: waiting on update namespace/knative-serving (v1) cluster
11:48:42AM: update clusterrole/knative-serving-admin (rbac.authorization.k8s.io/v1) cluster
...
11:48:55AM: ---  waiting on 4 changes
11:48:55AM: waiting on update deployment/activator (apps/v1) namespace: knative-serving
11:48:56AM:  L waiting on replicaset/activator-754fc557ff (apps/v1) namespace: knative-serving ... done
11:48:56AM:  L waiting on replicaset/activator-6b4c4b55dd (apps/v1) namespace: knative-serving ... done
11:48:56AM:  L waiting on podmetrics/activator-6b4c4b55dd-g8jjg (metrics.k8s.io/v1beta1) namespace: knative-serving ... done
11:48:56AM:  L waiting on pod/activator-754fc557ff-kpjkj (v1) namespace: knative-serving ... in progress: Condition Ready is not True (False)
11:48:56AM:  L waiting on pod/activator-6b4c4b55dd-vbdr9 (v1) namespace: knative-serving ... done
11:48:56AM:  L waiting on pod/activator-6b4c4b55dd-g8jjg (v1) namespace: knative-serving ... in progress: Deleting
11:48:56AM:  L waiting on pod/activator-6b4c4b55dd-8zfdq (v1) namespace: knative-serving ... in progress: Deleting
11:48:56AM: waiting on update deployment/autoscaler (apps/v1) namespace: knative-serving
11:48:56AM:  L waiting on replicaset/autoscaler-84cfcc9f4b (extensions/v1beta1) namespace: knative-serving ... done
...
11:49:32AM: --- changes applied

Succeeded
</pre>
                </td>
              </tr>
            </tbody>
            <tbody>
              <tr>
                <td class="doc">
                  <code>inspect</code> command shows list of live objects associated with given app.
                  <code>--tree</code> view optionally shows simple parent-child resource relationships.
                </td>
                <td class="output">
                  <pre class="terminal">
$ kapp inspect -a knative --tree

Resources in app 'knative'

Namespace        Name                              Kind        Conditions  Age
...
knative-serving  controller                        Deployment  <span class="green">2 OK / 2</span>    1d
knative-serving   L controller-74449bc6fc          ReplicaSet  -           1d
knative-serving   L.. controller-74449bc6fc-q76fx  Pod         <span class="green">3 OK / 3</span>    1d
knative-serving  activator                         Deployment  <span class="green">2 OK / 2</span>    1d
knative-serving   L activator-79495f6bdb           ReplicaSet  -           1d
knative-serving   L.. activator-79495f6bdb-9cs59   Pod         <span class="green">3 OK / 3</span>    1d
knative-serving   L.. activator-79495f6bdb-lp7dp   Pod         <span class="green">3 OK / 3</span>    1d
knative-serving   L.. activator-79495f6bdb-2zt98   Pod         <span class="green">3 OK / 3</span>    1d
knative-serving  fluentd-sidecar                   Image       -           1d
...

75 resources

Succeeded</pre>
                </td>
              </tr>
            </tbody>
            <tbody>
              <tr>
                <td class="doc">
                  <code>logs</code> command starts streaming logs from all Pods associated with given app.
                </td>
                <td class="output">
                  <pre class="terminal">
$ kapp logs -f -a knative

# starting tailing 'controller-74449bc6fc-q76fx > controller' logs
# starting tailing 'autoscaler-77fd694cf7-tlzrg > autoscaler' logs
controller-74449bc6fc-q76fx > controller | E0307 01:42:36.464925       1 reflector.go:205] github.com/knative/serving/pkg/client/informers/externalversions/factory.go:116: Failed to list *v1alpha1.PodAutoscaler: Get https://10.23.240.169:443/apis/autoscaling.internal.knative.dev/v1alpha1/podautoscalers?limit=500&resourceVersion=0: dial tcp 10.23.240.169:443: i/o timeout
autoscaler-77fd694cf7-tlzrg > autoscaler | E0307 01:42:49.219897       1 reflector.go:205] github.com/knative/serving/vendor/k8s.io/client-go/informers/factory.go:130: Failed to list *v1.ConfigMap: Get https://10.23.240.169:443/api/v1/namespaces/knative-serving/configmaps?limit=500&resourceVersion=0: EOF
...</pre>
                </td>
              </tr>
            </tbody>
            <tbody>
              <tr>
                <td class="doc">
                  <code>delete</code> command finds all resources in the cluster associated with given app,
                  issues delete operation and waits for them be be deleted.
                </td>
                <td class="output">
                  <pre class="terminal">
$ kapp delete -a knative

Changes

Namespace        Name                                              Kind                      Conditions  Age  Changed  Ignored Reason
-                build-controller-admin                            ClusterRoleBinding        -           1d   <span class="red">del</span>      -
~                builds.build.knative.dev                          CustomResourceDefinition  <span class="green">2 OK / 2</span>    1d   <span class="red">del</span>      -
~                buildtemplates.build.knative.dev                  CustomResourceDefinition  <span class="green">2 OK / 2</span>    1d   <span class="red">del</span>      -
~                clusterbuildtemplates.build.knative.dev           CustomResourceDefinition  <span class="green">2 OK / 2</span>    1d   <span class="red">del</span>      -
~                clusteringresses.networking.internal.knative.dev  CustomResourceDefinition  <span class="green">2 OK / 2</span>    1d   <span class="red">del</span>      -
~                configurations.serving.knative.dev                CustomResourceDefinition  <span class="green">2 OK / 2</span>    1d   <span class="red">del</span>      -
~                images.caching.internal.knative.dev               CustomResourceDefinition  <span class="green">2 OK / 2</span>    1d   <span class="red">del</span>      -
~                knative-build                                     Namespace                 -           1d   <span class="red">del</span>      -
~                knative-build-admin                               ClusterRole               -           1d   <span class="red">del</span>      -
~                knative-serving                                   Namespace                 -           1d   <span class="red">del</span>      -
~                knative-serving-admin                             ClusterRole               -           1d   <span class="red">del</span>      -
~                knative-serving-autoscaler-write                  ClusterRoleBinding        -           1d   <span class="red">del</span>      -
~                knative-serving-controller-admin                  ClusterRoleBinding        -           1d   <span class="red">del</span>      -
~                knative-serving-write                             ClusterRole               -           1d   <span class="red">del</span>      -
~                podautoscalers.autoscaling.internal.knative.dev   CustomResourceDefinition  <span class="green">2 OK / 2</span>    1d   <span class="red">del</span>      -
~                revisions.serving.knative.dev                     CustomResourceDefinition  <span class="green">2 OK / 2</span>    1d   <span class="red">del</span>      -
~                routes.serving.knative.dev                        CustomResourceDefinition  <span class="green">2 OK / 2</span>    1d   <span class="red">del</span>      -
~                services.serving.knative.dev                      CustomResourceDefinition  <span class="green">2 OK / 2</span>    1d   <span class="red">del</span>      -
istio-system     knative-ingressgateway                            Deployment                <span class="green">2 OK / 2</span>    1d   <span class="red">del</span>      -
~                knative-ingressgateway                            HorizontalPodAutoscaler   <span class="red">2 OK / 3</span>    1d   <span class="red">del</span>      -
~                knative-ingressgateway                            Service                   -           1d   <span class="red">del</span>      -
knative-build    build-controller                                  Deployment                <span class="green">2 OK / 2</span>    1d   <span class="red">del</span>      -
~                build-controller                                  Service                   -           1d   <span class="red">del</span>      -
~                build-controller                                  ServiceAccount            -           1d   <span class="red">del</span>      -
...

0 add, 51 delete (24 hidden), 0 update, 0 keep

51 changes

Continue? [yN]:

...</pre>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div id="footer">&#8718;</div>
    </div>
  </body>
</html>
