name: test-gh-k8s-1.16
on:
  push:
    branches:
      - develop
  pull_request:
    types: [opened, reopened, synchronize]
jobs:
  test-all:
    name: Test GH
    runs-on: ubuntu-latest
    steps:
      - name: Set up Go 1.x
        uses: actions/setup-go@v1
        with:
          go-version: "1.16"
      - name: Check out code into the Go module directory
        uses: actions/checkout@v2
        with:
          path: src/github.com/${{ github.repository }}
          fetch-depth: 0
      - name: Run Tests
        run: |
          set -e -x

          export GOPATH=$(pwd)
          cd src/github.com/${{ github.repository }}

          # Install ytt for build
          mkdir -p /tmp/bin
          export PATH=/tmp/bin:$PATH

          ./hack/verify-no-dirty-files.sh

          wget -O- https://carvel.dev/install.sh | K14SIO_INSTALL_BIN_DIR=/tmp/bin bash

          wget -O- https://github.com/kubernetes/minikube/releases/download/v1.10.0/minikube-linux-amd64 > /tmp/bin/minikube
          chmod +x /tmp/bin/minikube
          minikube start --driver=docker --kubernetes-version 1.16.0
          eval $(minikube docker-env --shell=bash)

          # Ensure that there is no existing kapp installed
          rm -f /tmp/bin/kapp

          ./hack/build-binaries.sh

          export KAPP_E2E_NAMESPACE=kapp-test
          kubectl create ns $KAPP_E2E_NAMESPACE

          ./hack/test-all.sh
